# Learn more about ENV variables at https://github.com/WebDevStudios/nextjs-wordpress-starter/wiki/env-variables

# Tells Next.js we're in development mode. You do not need a Vercel account for this.
VERCEL_ENV="development"

NEXT_PUBLIC_APP_URL = 'http://localhost:3000'

# Allows Node to work with local, self-signed certificates.
NODE_TLS_REJECT_UNAUTHORIZED="0"

# Your WordPress URL.
WORDPRESS_URL="cms.dev.codeforafrica.org/pesayetu/"

# If you're using WordPress multi-site feature
WORDPRESS_MULTISITE_PREFIX="/pesayetu"

# This needs to match the WORDPRESS_PREVIEW_SECRET constant in wp-config.php. It can be any random string of text.
WORDPRESS_PREVIEW_SECRET="ANY_RANDOM_STRING_OF_TEXT"

# Your WordPress username.
WORDPRESS_APPLICATION_USERNAME="YOUR_WORDPRESS_USERNAME"

# Your WordPress application password. Requires WordPress 5.6 and above.
# See https://make.wordpress.org/core/2020/11/05/application-passwords-integration-guide/
WORDPRESS_APPLICATION_PASSWORD="YOUR_GENERATED_APPLICATION_PASSWORD"

# JWT secret key. This must match the GRAPHQL_JWT_AUTH_SECRET_KEY constant in wp-config.php.
JWT_SECRET_KEY="your-secret-token"

# The domain where your images are hosted on.
# See https://nextjs.org/docs/basic-features/image-optimization#domains
NEXT_PUBLIC_IMAGE_DOMAINS="cms.dev.codeforafrica.org"

# HURUmap URL
HURUMAP_API_URL="https://ng.hurumap.org/api/v1/"
