/* Global styles for Storybook iframe that renders every Component Story */
/* TODO (NYOKABI),fix for storybook layout */

* {
  box-sizing: border-box;
}

.leaflet-container {
  position: absolute !important;
}
@media only screen and (min-width: 768px) {
 * {
  min-width: 0
 }
}