/* Global styles for Storybook iframe that renders every Component Story */
/* TODO (NYOKABI),fix for storybook layout */

* {
 box-sizing: border-box;
 min-width: fit-content
}
@media only screen and (min-width: 768px) {
 * {
  min-width: 0
 }
}

.leaflet-container {
    position: absolute !important;
  }
